<!-- banner start  -->
<!-- <div class="contain-fluid">
  <div
    id="carouselExampleDark"
    class="carousel carousel-dark slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div
        class="carousel-item active"
        data-bs-interval="10000"
        *ngFor="let b of bannerResult; let i = index"
        [ngClass]="{ active: i === 1 }"
      >
        <img
          src="https://image.tmdb.org/t/p/original/{{ b.backdrop_path }}"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h2>{{ b.original_title }}</h2>
          <p>{{ b.overview }}</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div> -->
<!-- banner end  -->
<div class="wrapper">
  <div class="card" *ngFor="let movie of this.movies?.results">
    <img
      class="card-img-top"
      src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{
        movie.poster_path
      }}"
    />
    <div class="descriptions">
      <p>
        {{ movie.overview }}
      </p>
      <button (click)="this.movieDetails(movie.id)" class="btn btn-primary">
        Go somewhere
      </button>
    </div>
  </div>
</div>

<!-- <div class="container" style="margin-top: 10%; margin-left: 10%">
  <div class="row" *ngIf="!this.hideContent">
    <div
      class="card"
      style="width: 18rem"
      *ngFor="let movie of this.movies?.results"
    >
      <img
        class="card-img-top"
        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{
          movie.poster_path
        }}"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <p class="card-text">
          {{ movie.overview }}
        </p>
        <button (click)="this.movieDetails(movie.id)" class="btn btn-primary">
          Go somewhere
        </button>
      </div>
    </div>
  </div>
</div> -->

<!-- <footer>
  <p>
    Created with <i class="fa fa-heart"></i> by
    <a target="_blank" href="https://codepen.io/ahmadbassamemran/"
      >Ahmad Emran</a
    >
    Follow me :
    <a target="_blank" href="https://www.instagram.com/ahmadbassamemran/"
      ><i class="fab fa-instagram"></i
    ></a>
    <a target="_blank" href="https://www.linkedin.com/in/ahmademarn/"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a target="_blank" href="https://codepen.io/ahmadbassamemran/"
      ><i class="fab fa-codepen"></i
    ></a>
    <a target="_blank" href="https://dev.to/ahmadbassamemran"
      ><i class="fab fa-dev"></i
    ></a>
    <a target="_blank" href="https://twitter.com/ahmadbassamemra"
      ><i class="fab fa-twitter-square"></i
    ></a>
  </p>
</footer> -->

<!-- <div class="youtubeBtn">
  <a
    target="_blank"
    href="https://www.youtube.com/AhmadEmran?sub_confirmation=1"
  >
    <span>Watch on YouTube</span>
    <i class="fab fa-youtube"></i>
  </a>
</div> -->
<router-outlet></router-outlet>
